<p>register works!</p>
<div class="container">
    <form>
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">User Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Full Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="form2Example3" class="form-control" />
            <label class="form-label" for="form2Example3">Confirm Password</label>
        </div>

        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        <div class="text-center">
            <p>Already a Customer? <a class="btn btn-success" routerLink="customer/login">Login here</a></p>
        </div>
    </form>
</div>