<p>login works!</p>
<div class="container m-4">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../../assets/images/BankLogo.png" width="400" height="300" />
            <h3 class="text mt-3">Your Personal Banking Partner</h3>
        </div>
        <div class="col-md-6" *ngIf="!forgotPassword">
            <form [formGroup]="userDetails">
                <div class="form-outline mb-4">
                    <input type="email" id="userName" class="form-control" name="userName" formControlName="userName" />
                    <label class="form-label" for="userName">User Name</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" formControlName="password"
                        class="form-control" />
                    <label class="form-label" for="password">Password</label>
                </div>
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox" checked />
                            <label class="form-check-label" for="checkbox"> Remember me </label>
                        </div>
                    </div>

                    <div class="col">
                        <a class="btn btn-danger" (click)="forgotPasswordMethod()">Forgot password?</a>
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-block mb-4" (click)="loginUser()">Sign in</button>
                <div class="text-center">
                    <p>Not a Customer? <a class="btn btn-success" routerLink="../register">Register here</a></p>
                </div>
            </form>
        </div>
        <div class="col-md-6" *ngIf="forgotPassword && !forgotAuthSuccess && changed==''">
            <form [formGroup]="userDetails">
                <div class="form-outline mb-4">
                    <input type="email" id="fuserName" class="form-control" formControlName="userName"
                        placeholder="Enter User Name" />
                    <label class="form-label" for="fuserName">User
                        Name</label>
                </div>
                <div class="row m-2">
                    <select name="demo" id="#">
                        <option selected="selected" value="one">Who is Your favriote Actor ?</option>
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" id="favQueAns" class="form-control" formControlName="favQueAns"
                        placeholder="Enter User Name" />
                    <label class="form-label" for="favQueAns">
                        Enter Answer</label>
                </div>

                <button type="button" class="btn btn-primary btn-block mb-4" (click)="forgotPasswordGetDetails()">Get
                    Details</button>
                <div class="text-center">
                    <p>Already Have an account click here to log in <a class="btn btn-primary"
                            (click)="forgotPasswordMethod()">Log in</a></p>

                </div>
            </form>
        </div>
        <div class="col-md-6" *ngIf="forgotAuthSuccess && forgotPassword && changed==''">
            <form [formGroup]="userDetails">
                <div class="form-outline mb-4">
                    <input type="text" id="fuserName" class="form-control" placeholder="Enter User Name"
                        [value]="forgotuserData[0].userName" disabled />
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="fpassword" class="form-control" placeholder="Enter Password"
                        formControlName="password" />
                    <label class="form-label" for="fpassword">Enter Password</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" id="fcpassword" class="form-control" placeholder="Confirm Password"
                        formControlName="cPassword" />
                    <label class="form-label" for="fcpassword">Confirm Password</label>
                </div>
                <button type="button" class="btn btn-primary btn-block mb-4" (click)="updatePassword()">Update
                    Password</button>
            </form>
        </div>
        <div class="col-md-6">
            <span *ngIf="changed=='changed'">
                <p class="font-weight-bold text-success"> Thanks Your password have been changed</p>
                <p>Click Here to login<a class="btn btn-primary" (click)="changein()">Login</a></p>
            </span>
            <span *ngIf="changed=='notchanged'">
                <p class="font-weight-bold text-danger">Your username or security question is mismatched</p>
                <p>Click Here to login <a class="btn btn-primary" (click)="changein()">Login</a></p>
            </span>
        </div>

    </div>

</div>